{% load i18n lazysignup_tags %}
<nav class="navbar navbar-default shadow">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand fg-light" href="/">Crowd Computation Agency</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="line-height: 1.42857; margin: 15px 0px; padding: 10px 15px;">
                Witaj {%if request.user|is_lazy_user %}Agencie{% else %}{{request.user}}{%endif%}!
                </li>
                <li class="active"><a class="fg-light" href="{% url 'clients:list' %}"><i class="fa fa-gamepad" aria-hidden="true"></i> Misje</a></li>
                {% if not request.user|is_lazy_user %}
                    <li class="active"><a class="fg-light" href="{% url 'users:profile' %}"><span class="ti-settings"></span> Profil</a></li>
                {% else %}
                <!--
                    <li><a class="fg-light" href="{% url 'users:login' %}"><span class="fa fa-user"></span> Zaloguj</a></li>
                    <li><a class="fg-light" href="{% url 'users:register' %}"><span class="fa fa-user-plus"></span> Zarejestruj</a></li>
                    -->
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

